@import url('https://fonts googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(85, 76, 76);
}
.box{
    position: relative;
    width: 450px;
    height: 550px;
    border-radius: 30px;
    background: black;
    box-shadow: 25px 25px 75px rgba(122, 35, 35, 0.25),
                10px 10px 170px rgba(189, 220, 10, 0.25),
                inset 5px 5px 10px rgba(0, 0, 0, 0.5),
                inset 5px 5px 20px rgba();
}